* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

body {

    background: #0F172A;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    color: white;

}

.container {

    width: 600px;

    background: #1E293B;

    padding: 50px;

    border-radius: 20px;

    text-align: center;

}

.container h1 {

    margin-bottom: 20px;

}

.container h2 {

    margin-bottom: 40px;

}

.option {

    display: block;

    padding: 20px;

    background: #334155;

    border-radius: 15px;

    margin: 20px 0;

    cursor: pointer;

    font-size: 22px;

    transition: .3s;

}

.option:hover {

    background: #F59E0B;

}

button {

    margin-top: 30px;

    padding: 18px 40px;

    background: #F59E0B;

    border: none;

    border-radius: 12px;

    font-size: 20px;

    cursor: pointer;

}