<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recipe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="container">

        <div class="recipe-card">

            <h1>

                👨‍🍳 ChefMate AI

            </h1>

            <h2>

                Generated Recipe

            </h2>

            <div class="recipe-output">

            <div>
            
                {{ recipe }}
            
            </div>

            </div>

            <div class="buttons">

                <button onclick="history.back()">

                    ⬅ Back

                </button>

                <button onclick="location.reload()">

                    🔄 Generate Again

                </button>

            </div>

        </div>

    </div>

</body>

</html>